<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/estilos.css" rel="stylesheet" />
    <script src="~/Scripts/js/logica.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
        <div class="container">
            @Html.ActionLink("MyBandTour", "Inicio", "Empresa", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Inicio", "Empresa", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Empresa", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @{
                    var autenticado = Session["AUTENTICADO"]?.ToString();
                    var nombreUsuario = Session["NOMBRE_USUARIO"]?.ToString();
                }

                <li class="nav-item d-flex align-items-center ms-auto">
                    @if (autenticado == "SI")
                    {
                        <div class="dropdown">
                            <button class="btn btn-azul dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                @nombreUsuario
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Empresa")">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group ms-auto me-0">
                            <a href="@Url.Action("Login", "Empresa")" class="btn btn-azul">Iniciar Sesión</a>
                            <a href="@Url.Action("Registrarse", "Empresa")" class="btn btn-azul">Registrarse</a>
                        </div>
                    }
                </li>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer-mybandtour">
        <div class="container text-center">
            <p class="mb-1">© 2025 MyBandTour. Todos los derechos reservados.</p>
            <p class="mb-1">Tu portal para explorar y agendar eventos musicales únicos 🎶</p>

            <div class="mb-2">
                <span class="footer-contact">Contacto: <a href="mailto:info@mybandtour.com">info@mybandtour.com</a></span><br>
                <span class="footer-contact">WhatsApp: <a href="https://wa.me/50688888888">+506 8888-8888</a></span>
            </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
